/* 
    1-HEADER/MENU
*/
/* 
    2-SECTION/CARD
*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baskervville SC", serif;
    text-decoration: none;

}

:root {
    --body-color: #222222;
    --text-color: #d5d4d499;
    --black-color: #2b2b2b;
    --white-text: #fff;
    --black-color: #000;
    --underline-color: #d1ab85;
}

body {
    background-color: var(--body-color);

}

/* 
    1-HEADER/MENU
*/

header {
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--black-color);  

}


.logo {
    width: 10%;
    margin-left: 10px;
}

.logo img {
    width: 100%;
}

.lista-container {
    width: 88%;
}

.lista-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

ul a {
    color: var(--white-text);
    text-decoration: none;
    position: relative;
    padding-bottom: 2.8px;
    letter-spacing: 1px;
}

ul a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.8px;
    background-color: var(--underline-color);
    transition: width 0.4s ease, left 0.4s ease;
}

ul a:hover::after {
    width: 100%;
    left: 0;
}
/* 
    2-SECTION/CARD
*/

section {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-text {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin: 24px 0;
    color: var(--white-text);
}

.classe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin: 28px 0;
}

.card-container {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.8);
}

.card-container:hover {
    transform: translate(0, 0) scale(1.1);
    transition: all 0.2s;
    box-shadow: 0px 4px 8px rgba(180, 252, 200, 0.8);
}

.card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.card-info h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white-text);
    padding-bottom: 2px;
    letter-spacing: 0.8px;
}

.card-info img {
    width: 60px;
}


/* 
    BREAK POINT 
 */

@media screen and (max-width:576px) {}

@media screen and (min-width:576px) {}

@media screen and (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        width: 80%;
        text-align: center;
    }

    .lista-container ul {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        width: 150px;
        height: 200px;
    }
}

@media screen and (min-width:992px) {}

@media screen and (min-width:1200px) {}

@media screen and (min-width:1400px) {}